@font-face {
    font-family: 'pocketMonk'; 
    src: url('/static/build_team/PocketMonk-15ze.woff2') format('woff2'),
    url('/static/build_team/PocketMonk-15ze.woff') format('woff'),
    url('/static/build_team/PocketMonk-15ze.ttf') format('truetype');
  }

body {
    margin: 120px 60px;
    text-align: center;
}

.form_container {
    display:block;
}

.form_line {
    margin: 20px 0px;
}

.nav_bar {
    overflow: hidden;
    background-color: rgb(235, 227, 89);
    margin-bottom: 20px;
}

.nav_item {
    float: left;
    padding: 10px;
    margin: 5px 10px 5px 0px;
}

.nav_item:hover {
    background-color: rgb(231, 97, 97);
    cursor: pointer;
}

.nav_item a {
    display: block;
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'pocketMonk';
    color:black;
    font-size: 50px;
}

.home img {
    width:30%;
}
.home_form{
    display: block;
}

.form_item {
    margin: 15px;
}

.error_red { 
    background-color: rgba(238, 141, 106, 0.75);
    margin: 15px;
    font-size: 24px;
}

.team_row {
    display: flex;
    padding:40px;
}
.team_column_container {
    display:block;
    width: 33%;
}

.team_column {
    border: 1px solid;
    margin: 15px 15px 5px 15px;
    display: block;
}

#poke_remove {
    font-size: 11px;
}

.team_buttons {
    display: block;
}

.team_buttons div {
    margin: 20px;
}

.search_error {
    margin: 20px;
    font-size: 20px;
}

.poke_info_card {
    display: block;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.not_available {
    background-color: rgba(239, 245, 82, .75);
    margin: 15px;
    font-size: 24px;
}

.choose_u {
    font-size: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.info_bit {
    margin: 5px;
}

.basic_info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.abilities {
    margin-top:20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.abilities_tbl {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}

.abilities_tbl tr th {
    border: 1px solid;
}

.abilities_tbl td {
    border: 1px solid;
}

.col1 {
    width:35%;
}

.col2 {
    width:65%;
}

#team_view {
    margin: 30px;
}

.teams_container {
    padding:20px;
    text-align: center;
}

.teams_link {
    border-radius:20px;
    margin:30px auto;
    border:1px solid;
    padding:10px;
    width:60%;
}

.teams_link:hover {
    background-color: rgba(235, 227, 89,.5);;
}

.actual_team_link {
    text-decoration: none;
    color:black;
    font-size:25px;
    width:100%;
}