{% extends "build_team/layout.html" %}
{% load static %}

{% block body %}

<div>
    You're playing : {{game}}
    <br>
    Regions : {{game.region}}
    <br>
    generation {{game.gen_roman}}
</div>

<div id="team_view">
    <a href="{% url 'team' %}?games={{game}}">View Your Team</a>
</div>

<form action="{% url 'pokesearch' %}" method="get">
    <input type="hidden" name="games" value="{{game}}">
    <input name="searched" type="text">
    <button type="submit">search</button>
</form>
<div class="search_error">
    {{error}}
</div>
{% if load_info_card %}

<div class="poke_info_card">
    {% if appears_in_cur_game %}
    <form action="{% url 'pokeadd' %}?games={{game}}" method="post">
        {% csrf_token %}
        <input type="hidden" name="games" id="games" value="{{game}}">
        <input type="hidden" name ="pokemon_chosen" id="pokemon_chosen" value="{{pokemon}}">
        <button id="chosen" class="choose_u" type="submit">I Choose You, {{pokemon}}!</button>
    </form>
    {% else %}
    <div class="not_available">
        This pokemon is not availble in your current game!
    </div>
    {% endif %}
    <div class="info_bit"># {{poke_id}}</div>
    <div class="info_bit"><img src={{sprite}}></div>
    <div class="basic_info">
        <div class="info_bit">
            Type:
            {%for type in types%}
                {{type}} 
            {% endfor %}
        </div>
        <div class="info_bit">Height: {{height}} ft</div>
        <div class="info_bit">Weight: {{weight}} lb</div>
    </div>
    <div class="abilities">
        <table class="abilities_tbl">
            <th>Ability</th>
            <th>Description</th>
            {% for ability in abilities %}
                <tr>
                    <td class="col1">{{ability.name}}</td>
                    <td class="col2">{{ability.description}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'build_team/main.js' %}"></script>
{% endblock %}