{% extends "build_team/layout.html" %}
{% load static %}

{% block body %}

<div class="error_red">{{error}}</div>

<div>
    You're playing : {{game}}
    <br>
    Regions : {{game.region}}
    <br>
    generation {{game.gen_roman}}
</div>

<a href="{% url 'team' %}?games={{game}}"><button class="view_team_button">view your <b>{{game}}</b> team</button></a>


<div class="gym_container">
    {% for gym in gyms %}
    <a href="{% url 'battle' %}?games={{game}}&leader={{gym.leader}}" class="leader_box"><div>
        <p>{{gym}}</p>
        <p>{{gym.leader}}</p>
        <div class="leader_color">{{gym.leader.color}}</div>
    </div></a>
    {% endfor %}
</div>

{% if leader %}

    <div data-color={{leader.color}} class="gym_info">
        <h1>{{leader.name}}'s Team</h1>
        <div class="gym_container">
            {% for member in team %}
                <div class="gym_box">
                    <div class="info_bit"> # {{member.id}} </div>
                    <div class="info_bit"> <img src="{{member.sprite}}"> </div>
                    <div class="info_bit"> {{member}} </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'battleLeader' %}?games={{game}}&leader={{leader}}"><button>BATTLE!</button></a>
    </div>


{% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'build_team/main.js' %}"></script>
{% endblock %}