{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pokemon Team Builder</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="{% static 'build_team/mystyles.css' %}" rel="stylesheet">
    {% block script %}
    {% endblock %}
</head>
<body>
    <div style="display:flex">
        <h4 style="align-self: flex-end; margin-left:auto; margin-right:5px;">welcome, {{user}}</h4>
    </div>
    <div class="nav_bar">
        <div>
            <a href="{% url 'index' %}"><div class="nav_item">switch games</div></a>
            <a href="{% url 'allTeams' %}"><div class="nav_item">your teams</div></a>
        </div>
        <div>
            <a href="{% url 'logout' %}"><div class="nav_item" style="float:right">logout</div></a>
        </div>
    </div>
    {% block body %}
    {% endblock %}

</body>
</html>