{% extends "build_team/layout.html" %}
{% load static %}

{% block body %}

<div>
    You're playing : {{game}}
    <br>
    {{game.gen}}
    <br>
    Regions : {% for region in regions %} {{region}} {% endfor %}
</div>

{% if has_team %}
<h1>Your Team!</h1>

{% if error %}
<div class="error_red">
    {{error}}
</div>
{% endif %}

    <div class="team_row">
        {% for member in team %}
            <div class="team_column_container">
                <div class="team_column">
                    <div class="info_bit"> # {{member.id}} </div>
                    <div class="info_bit"> <img src="{{member.sprite}}"> </div>
                    <div class="info_bit"> {{member}} </div>
                </div>
                <form action="{% url 'pokeremove' %}?games={{game}}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="game" name="games" value="{{game}}">
                    <button id="poke_id" name="poke_id" value="{{member.id}}">remove</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% else %} 
    <h1>No Team Members Yet!</h1>
{% endif %}

<div class="team_buttons">
    {% if team.p6 %}
    {% else %}
    <div>
        <a id="edit_team" href="{% url 'buildteam' %}?games={{game}}">Add to Your Team</a>
    </div>
    {% endif %}
    <div>
        <a id="new_team" href="{% url 'index' %}">Start Over with a Different Game</a>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'build_team/main.js' %}"></script>
{% endblock %}